<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Visit Page</title>
    {% load static %}
    <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{% static 'image/logo.png'%}" rel="icon">
    <style>
          #id1{
        margin-left:38%;
        font-family:Adobe Garamond Pro;
        letter-spacing:4px;
        font-weight: lighter;
        }
        #id2{
        margin-left:30%;
        letter-spacing:4px;
        font-family:Georgia, serif;
        border-radius:15px;
        }
        #id3{
        margin-left:20%;
        letter-spacing:4px;
        font-family:Georgia, serif;
        border-radius:15px;
        }
        #id4{
        margin-left:40%;
        }
        #id5{
        margin-left:3%;
        }
        #id6{
        margin-left:3%;
        }
        #image{
            background:url({% static "image/louvre-c.jpg"%})no-repeat;
            height:500px;
            background-size:cover;
            }
            #imageone{
            background:url({% static "image/hotel.jpg"%})no-repeat;
            height:500px;
            background-size:cover;
            margin-top:30px;
            }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg" style="background-color:black">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link text-white offset-md-9" href="{% url 'home'%}">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
      <h1 class="text-white display-4" id="id1">L<small>OUVRE</small></h1>
      <a class="btn btn-outline-success text-white" id="id2" href="{% url 'signin' %}" target="_blank">Tickets</a>
  </div>

</nav>
<nav class="navbar navbar-expand-lg p-3" style="background-color:black">
    <a id="id4" class="text-white" href="{%url 'visit'%}"><strong>VISIT</strong></a>
    <a id="id5" class="text-white" href="{%url 'explore'%}"><strong>EXPLORE</strong></a>
    <a id="id6" class="text-white" href="{% url 'whatson' %}"><strong>WHAT'S ON</strong></a>
</nav>
<nav class="navbar navbar-expand-lg bg-info" style="height:40px">
    <img src="{%static 'image/logo.png'%}" style="height:25px;width:25px">
    <h4 style="margin-left:30px; margin-top:8px;font-family:Adobe Garamond Pro;color:white;">/ Visit</h4>
</nav>
<div id="image">
    <div class="container col-md-6 offset-md-2 p-5" style=" bottom:-60%;">
        <h3 style="color:white">VISIT</h3>
        <h3 style="color:white">Everything you need to know before visiting the museum</h3>
    </div>
</div>
<div style="background-color:lightgray">
<div class="col-md-12"  style="padding-top:30px;margin-left:50px">
    <h5  class=" col-md-5 text-danger" style="font-family:Century Schoolbook;letter-spacing:2px"><small>INFORMATION REGARDING COVID-19</small></h5>
    <p class=" col-md-4 ">Time-slot bookings are compulsory, including for free-admission visitors. In accordance with government recommendations,
        all visitors to the Louvre aged 12 years and two months or older must show a Health Pass. All visitors aged 11 and over must wear face masks.</p>
    <video class="col-md-6 offset-md-5"  style="margin-top:-180px;margin-bottom:30px" width="400" height="400" controls>
        <source src="{% static 'louvre.mp4' %}" type="video/mp4"></source>
    </video>
</div>
</div>
<div class="col-md-12"  style="padding-top:30px;margin-left:50px">
    <h5  class=" col-md-5 text-info" style="font-family:Century Schoolbook;letter-spacing:2px"><small>HOURS & ADMISSION</small></h5>
    <h4 style="margin-top:20px; margin-left:15px">Opening hours</h4>
    <p class=" col-md-4 ">The museum is open daily except Tuesdays.Last entry 1 hour before closure. Visitors will be asked to vacate the exhibition rooms 30 minutes before closure.</p>
        <div class="col-md-6 offset-md-5"  style="margin-top:-180px;margin-bottom:30px;background-color:lightgray">
            <h4 style="letter-spacing:2px;text-align:center;padding-top:30px" >THE MUSEE DU LOUVRE</h4>
            <h3 style="letter-spacing:5px;text-align:center;padding-top:30px" >9:00 AM TO 6:00 PM</h3>
            <hr>
            <h3 style="letter-spacing:2px;text-align:center;padding-top:30px" >CLOSED</h3>
            <p style="text-align:center;padding-bottom:30px" >Tuesday</p>
        </div>
    <hr>
        <div>
            <h4 style="margin-top:20px">Ticket prices</h4>
            <p class="col-md-4" style="margin-left:-12px">Tickets can be used to access both the permanent collections and temporary exhibitions.
                In line with the measures taken to prevent the spread of COVID-19, all visitors, including those eligible for free admission, must book a time slot.
            </p>
            <div class="col-md-6 offset-md-5"  style="margin-top:-180px;margin-bottom:30px;background-color:lightgray">
            <p style="padding-left:30px;padding-top:30px" >Tickets purchased</p>
            <p style="text-align:right;padding-right:30px;margin-top:-40px" >€17</p>
            <hr>
            <p style="padding-left:30px;padding-top:30px" >-18 year olds, -26 year old residents of the EEA</p>
                <h4 style="text-align:right;padding-right:30px;padding-bottom:30px;margin-top:-45px" ><strong>Free</strong></h4>
        </div>
        </div>
    <hr>
        <div>
            <h4 style="font-family:Century Schoolbook;letter-spacing:2px;color:MediumSlateBlue;padding-top:100px"><small>VISIT AS A FAMILY</small></h4>
            <p class="col-md-4" style="margin-left:-12px">Enjoy the Louvre experience with your children at no extra cost –
                admission to the permanent collections and temporary exhibitions is free for all visitors under the age of 18 (or 26 for EEA residents).
                The museum also offers guided tours, practical workshops and storytelling sessions in the palace,
                as well as a selection of online media resources to be enjoyed at home.
            </p>
            {% load static %}
            <img src="{%static 'image/family.jpg'%}" class="col-md-6 offset-md-5" style="margin-top:-300px;" width="100" height="400">
        </div>
    <hr>
        <div>
            <h4 style="font-family:Century Schoolbook;letter-spacing:2px;color:green;padding-top:100px"><small>VISIT AS A GROUP</small></h4>
            <p class="col-md-4" style="margin-left:-12px">The museum offers a range of activities and tools for visiting the museum with groups of school children,
                disabled visitors and more:
                how to organise your visit, training, Louvre Pro membership, etc.
            </p>
            {% load static %}
            <img src="{%static 'image/group.jpg'%}" class="col-md-6 offset-md-5" style="margin-top:-220px;" width="100" height="400">
        </div>
</div>
<div id="imageone">
    <div class="container col-md-4 offset-md-1 p-3" style=" bottom:-40%;">
        <h3 style="color:white">Fancy a break and something to eat?</h3><br>
        <h5 style="color:white">Choose from a wide range of restaurants, cafes and take-away counters in the beautiful palace setting and gardens.</h5>
    </div>
</div>
<div>
    <h2 class="text-dark" style="background-color:lightgray;text-align:center;font-family:Lucida Bright Italic;padding:20px">Welcome to the Louvre</h2>
</div>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color:black">
    <div class="navbar-nav">
        <div>
            <a class="nav-item nav-link text-white" style="font-family:serif;letter-spacing:2px;margin-left:40px" href="#"><strong>ABOUT</strong></a><br>
            <a href="{%url 'visitor'%}" style="margin-left:60px;text-decoration:none;color:white">Visitor rules</a>
            <a href="{%url 'contact'%}" style="margin-left:60px;text-decoration:none;color:white">Contact Us</a>
        </div>
        <div>
            <a class="nav-item nav-link text-white" style="font-family:serif;letter-spacing:2px;margin-left:500px" href="#"><strong>MEMBERSHIP</strong></a><br>
            <img src="{% static 'image/logoamis.png'%}"  style="margin-left:470px;">
        </div>
      </div>

</nav>
<div style="background-color:black;padding:150px">
    <img src="{%static 'image/logolouvre.jpg'%}" style="margin-left:40%">
</div>


</body>
</html>